:root{
    --fondo: #36c7c7;
    --principal: #edfb2d; 
    --texto: #f5eff1;
    --blanco: #36c7c7;;
    background-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--texto);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;

}

.encabezado {
    background-color:rgba(122, 121, 121, 0.479);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    margin-top: 15px;
}

.logo-titulo {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.logo-titulo h1 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    color: #f8fafa;
}

.logo {
    width: 40px;   /* ajustá según tu imagen */
    height: auto;
}

.encabezado h1 {
    color: var(--principal);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#edfb2d;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a{
    text-decoration: none;
    color: var(--texto);
    font-weight: 600;
    font-size: 20px;
}

.menu a:hover {
color: var(--principal);
}
.bienvenida{
    text-align: center;
    margin-top: 30px;
}

.bienvenida h2{
    color: var(--principal);
    margin-bottom: 10px;
}

.bienvenida{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.carrusel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 40px;
    padding:20px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.carrusel img {
    width: 100%;
    max-width:400px;
    height: 400px;
    border-radius: 10px;
    display:block;
    margin:0 auto;
    object-fit: cover;
    object-position:center ;
}

.carrusel button    {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(250, 4, 4);
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
}
#prev{
    left:10px;
}
#next{
    right:10px;
}

.carrusel button:hover{
    background-color: rgb(12, 12, 12);
    }
.contenedor-imagen{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.texto-carrusel{
    position:absolute;
    bottom: 15px;
    left:50%;
    transform:translate(-50%);
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    padding:10px 15px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    width: 50%;
    max-width: 300px;
    overflow-wrap: break-word;
    box-sizing: border-box;
}
.articulo {
    text-align: center;
    margin: 40px auto;
    max-width: 1000px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.articulo h2 {
    color: var(--principal);
    margin-bottom: 25px;
    background-color:rgb(50, 70, 201);
}
.contenedor-articulo {
    display:flex;
    justify-content: space-between;
    gap: 20px;
}
.columna {
    flex: 1;
    background-color: rgb(50, 70, 201);
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.columna img {
    width: 100px;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.columna p {
    color:#f1efef;
    font-size: 16px;
    line-height: 1.5;
}

.contacto {
    background-color: #391d9c;
    max-width: 600px;
    margin: 5px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(13, 13, 13, 0.01);
    text-align:center;
    position: relative;
    left: 450px;
}

.contacto h2 {
    color: var(--principal);
    margin-bottom: 15px;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.campo label {
    font-weight: bold;
    margin-bottom: 5px;
}

.campo input {
    width: 100%;
    padding: 8px;
    border: 1px solid #7272f0c2;
    border-radius: 5px;
}

button {
background-color: #8e9cf8;
color: rgb(15, 15, 15);
padding: 10px 20px;
border:nose;
border-radius: 50px;
font-size: 16px;
cursor: pointer;
}

button:hover{
    background-color: #e1fa41;
}

#resultado {
    margin-top: 20px;
    font-size: 20px;
}
div.error{
    color:rgb(173, 114, 228);
    background-color: black;
    padding: 4px 6px;
    border-radius: 4px;
    margin-top: 4px;
}
.carrusel-con-lados{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.decoracion{
    width: 300px;
    height:auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
.fondo-index {
    background-image:url("../img/gatovino.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  /*para que quede fijo*/
}
.fondo-articulo{
    background-image:url("../img/gatoymariposa.jpeg") ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.fondo-contacto {
    background-image:url("../img/gatoventana.jpeg") ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}