:root{
    --fondo: f6f8f7;
    --principal: rgb(18, 22, 2);
    --texto: #222;
    --blanco: #00ffff;
    background-color: #00ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Quicksand',sans-serif;
    background-color: var(--fondo);
    color: var(--texto);
    line-height: 1.5;
}

.encabezado {
    background-color: var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15xp, 30xp;
    box-shadow: 0 2xp, 5xp rgba(0, 0,0,0.1);
}

.encabezado h1 {
    color: var(--principal);
    font-size: 22xp;
}

.menu {
    display: flex;
    gap: 20xp;
}

.menu {
    text-decoration: none;
    color: var(--texto);
    font-weight: 600;
}

.menu a:hover,
.menu a:active {
color: var(--principal);
}

.bienvenida h2{
    color: var(--principal);
    margin-bottom: 10xp;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15xp;
    margin: 30xp auto;
    padding: 10xp;
    background-color: #fff;
    border-radius: 10xp;
    max-width: 500xp;
    box-shadow: 0, 2xp, 10xp, rgba(0, 0, 0, 0.1);
}

.carousel imag {
    width: 100%;
    max-width: 350%;
    border-radius: 10xp;
}

.carousel button {
    background-color: red;
    color: white;
    border: none;
    padding: 10xp, 15xp;
    border-radius: 50xp;
    font-size: 20px;
    cursor: pointer;
}

.carousel button:hover {
    background-color: rgb(12, 12, 12);
}
.carousel button{
    width: 40px;
    height: 40px;
}
