:root{
    --bg: #b0f8f7;
    --card:#f72828df;
    --accent: rgba(68, 80, 239, 0.763);
    --dark:#01010f;
    --gap:16xp;
    --max-width:1100xp;
    --radius:8xp;
    --font:"Quichsand", san-series;
}
* { box-sizing: border-box; margin:0;padding:0;}
html,body {height: 100%;}
body {
    font-family: var(--font);
    background: var(--bg);
    color: var(--dark);
    line-height: 1,4;
    padding: 20px;
}
main {max-width: var(--max-width);margin: 24xp auto; padding: 0 16px;}
